In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
id_df = pd.read_csv('../Data/train_identity.csv')
tr_df = pd.read_csv('../Data/train_transaction.csv')

## Identity

In [3]:
id_df.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [4]:
print(id_df.columns)
print(len(id_df.columns))
print(id_df.shape)

Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14',
       'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22',
       'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')
41
(144233, 41)

In [5]:
id_df.describe()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_17,id_18,id_19,id_20,id_21,id_22,id_24,id_25,id_26,id_32
count,1.442330e+05,144233.000000,140872.000000,66324.000000,66324.000000,136865.000000,136865.000000,5155.000000,5155.000000,74926.000000,...,139369.000000,45113.000000,139318.000000,139261.000000,5159.000000,5169.000000,4747.000000,5132.000000,5163.000000,77586.000000
mean,3.236329e+06,-10.170502,174716.584708,0.060189,-0.058938,1.615585,-6.698710,13.285354,-38.600388,0.091023,...,189.451377,14.237337,353.128174,403.882666,368.269820,16.002708,12.800927,329.608924,149.070308,26.508597
std,1.788496e+05,14.347949,159651.816856,0.598231,0.701015,5.249856,16.491104,11.384207,26.084899,0.983842,...,30.375360,1.561302,141.095343,152.160327,198.847038,6.897665,2.372447,97.461089,32.101995,3.737502
min,2.987004e+06,-100.000000,1.000000,-13.000000,-28.000000,-72.000000,-100.000000,-46.000000,-100.000000,-36.000000,...,100.000000,10.000000,100.000000,100.000000,100.000000,10.000000,11.000000,100.000000,100.000000,0.000000
25%,3.077142e+06,-10.000000,67992.000000,0.000000,0.000000,0.000000,-6.000000,5.000000,-48.000000,0.000000,...,166.000000,13.000000,266.000000,256.000000,252.000000,14.000000,11.000000,321.000000,119.000000,24.000000
50%,3.198818e+06,-5.000000,125800.500000,0.000000,0.000000,0.000000,0.000000,14.000000,-34.000000,0.000000,...,166.000000,15.000000,341.000000,472.000000,252.000000,14.000000,11.000000,321.000000,149.000000,24.000000
75%,3.392923e+06,-5.000000,228749.000000,0.000000,0.000000,1.000000,0.000000,22.000000,-23.000000,0.000000,...,225.000000,15.000000,427.000000,533.000000,486.500000,14.000000,15.000000,371.000000,169.000000,32.000000
max,3.577534e+06,0.000000,999595.000000,10.000000,0.000000,52.000000,0.000000,61.000000,0.000000,25.000000,...,229.000000,29.000000,671.000000,661.000000,854.000000,44.000000,26.000000,548.000000,216.000000,32.000000

In [6]:
id_df.isna().sum()

TransactionID         0
id_01                 0
id_02              3361
id_03             77909
id_04             77909
id_05              7368
id_06              7368
id_07            139078
id_08            139078
id_09             69307
id_10             69307
id_11              3255
id_12                 0
id_13             16913
id_14             64189
id_15              3248
id_16             14893
id_17              4864
id_18             99120
id_19              4915
id_20              4972
id_21            139074
id_22            139064
id_23            139064
id_24            139486
id_25            139101
id_26            139070
id_27            139064
id_28              3255
id_29              3255
id_30             66668
id_31              3951
id_32             66647
id_33             70944
id_34             66428
id_35              3248
id_36              3248
id_37              3248
id_38              3248
DeviceType         3423
DeviceInfo        25567
dtype: int64

In [27]:
id_df.loc[:, id_df.dtypes == np.object].columns

Index(['id_12', 'id_15', 'id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

In [7]:
id_df.dtypes

TransactionID      int64
id_01            float64
id_02            float64
id_03            float64
id_04            float64
id_05            float64
id_06            float64
id_07            float64
id_08            float64
id_09            float64
id_10            float64
id_11            float64
id_12             object
id_13            float64
id_14            float64
id_15             object
id_16             object
id_17            float64
id_18            float64
id_19            float64
id_20            float64
id_21            float64
id_22            float64
id_23             object
id_24            float64
id_25            float64
id_26            float64
id_27             object
id_28             object
id_29             object
id_30             object
id_31             object
id_32            float64
id_33             object
id_34             object
id_35             object
id_36             object
id_37             object
id_38             object
DeviceType        object
DeviceInfo        object
dtype: object

In [28]:
for column in id_df.loc[:, id_df.dtypes == np.object].columns:
    unique = id_df[column].unique()
    print('--------------------\ncolumn: %s, # unique: %d' % (column, len(unique)))
    print(unique)

--------------------
column: id_12, # unique: 2
['NotFound' 'Found']
--------------------
column: id_15, # unique: 4
['New' 'Found' nan 'Unknown']
--------------------
column: id_16, # unique: 3
['NotFound' 'Found' nan]
--------------------
column: id_23, # unique: 4
[nan 'IP_PROXY:TRANSPARENT' 'IP_PROXY:ANONYMOUS' 'IP_PROXY:HIDDEN']
--------------------
column: id_27, # unique: 3
[nan 'Found' 'NotFound']
--------------------
column: id_28, # unique: 3
['New' 'Found' nan]
--------------------
column: id_29, # unique: 3
['NotFound' 'Found' nan]
--------------------
column: id_30, # unique: 76
['Android 7.0' 'iOS 11.1.2' nan 'Mac OS X 10_11_6' 'Windows 10' 'Android'
 'Linux' 'iOS 11.0.3' 'Mac OS X 10_7_5' 'Mac OS X 10_12_6'
 'Mac OS X 10_13_1' 'iOS 11.1.0' 'Mac OS X 10_9_5' 'Windows 7'
 'Windows 8.1' 'Mac' 'iOS 10.3.3' 'Mac OS X 10.12' 'Mac OS X 10_10_5'
 'Mac OS X 10_11_5' 'iOS 9.3.5' 'Android 5.1.1' 'Android 7.1.1'
 'Android 6.0' 'iOS 10.3.1' 'Mac OS X 10.9' 'iOS 11.1.1' 'Windows Vista'
 'iOS 10.3.2' 'iOS 11.0.2' 'Mac OS X 10.11' 'Android 8.0.0' 'iOS 10.2.0'
 'iOS 10.2.1' 'iOS 11.0.0' 'Mac OS X 10.10' 'Mac OS X 10_12_3'
 'Mac OS X 10_12' 'Android 6.0.1' 'iOS' 'Mac OS X 10.13'
 'Mac OS X 10_12_5' 'Mac OS X 10_8_5' 'iOS 11.0.1' 'iOS 10.0.2'
 'Android 5.0.2' 'Windows XP' 'iOS 11.2.0' 'Mac OS X 10.6' 'Windows 8'
 'Mac OS X 10_6_8' 'Mac OS X 10_11_4' 'Mac OS X 10_12_1' 'iOS 10.1.1'
 'Mac OS X 10_11_3' 'Mac OS X 10_12_4' 'Mac OS X 10_13_2' 'Android 4.4.2'
 'Mac OS X 10_12_2' 'Android 5.0' 'func' 'Android 7.1.2' 'Android 8.1.0'
 'other' 'Mac OS X 10_13_3' 'iOS 11.2.1' 'iOS 11.2.5' 'Windows'
 'iOS 11.2.2' 'iOS 11.3.0' 'iOS 11.2.6' 'Mac OS X 10_13_4'
 'Mac OS X 10_13_5' 'iOS 11.4.0' 'iOS 11.3.1' 'iOS 11.4.1']
--------------------
column: id_31, # unique: 131
['samsung browser 6.2' 'mobile safari 11.0' 'chrome 62.0' nan
 'chrome 62.0 for android' 'edge 15.0' 'mobile safari generic'
 'chrome 49.0' 'chrome 61.0' 'edge 16.0' 'safari generic' 'edge 14.0'
 'chrome 56.0 for android' 'firefox 57.0' 'chrome 54.0 for android'
 'mobile safari uiwebview' 'chrome' 'chrome 62.0 for ios' 'firefox'
 'chrome 60.0 for android' 'mobile safari 10.0' 'chrome 61.0 for android'
 'ie 11.0 for desktop' 'ie 11.0 for tablet' 'mobile safari 9.0'
 'chrome generic' 'other' 'chrome 59.0 for android' 'firefox 56.0'
 'android webview 4.0' 'chrome 55.0' 'opera 49.0' 'ie'
 'chrome 55.0 for android' 'firefox 52.0' 'chrome 57.0 for android'
 'chrome 56.0' 'chrome 46.0 for android' 'chrome 58.0' 'firefox 48.0'
 'chrome 59.0' 'samsung browser 4.0' 'edge 13.0' 'chrome 53.0 for android'
 'chrome 58.0 for android' 'chrome 60.0' 'mobile safari 8.0'
 'firefox generic' 'Generic/Android 7.0' 'mobile' 'Samsung/SM-G532M'
 'chrome 50.0 for android' 'chrome 51.0 for android' 'chrome 63.0'
 'chrome 52.0 for android' 'chrome 51.0' 'firefox 55.0' 'edge' 'opera'
 'chrome generic for android' 'aol' 'samsung browser 5.4' 'Samsung/SCH'
 'silk' 'chrome 57.0' 'firefox 47.0' 'chrome 63.0 for android'
 'Samsung/SM-G531H' 'chrome 43.0 for android' 'waterfox' 'Nokia/Lumia'
 'chrome 63.0 for ios' 'puffin' 'Microsoft/Windows' 'cyberfox'
 'Generic/Android' 'samsung' 'opera generic' 'chrome 49.0 for android'
 'ZTE/Blade' 'safari' 'android browser 4.0' 'samsung browser 5.2'
 'palemoon' 'maxthon' 'line' 'LG/K-200' 'iron' 'BLU/Dash' 'seamonkey'
 'firefox 58.0' 'chrome 64.0 for android' 'chrome 64.0' 'firefox 59.0'
 'chrome 64.0 for ios' 'M4Tel/M4' 'comodo' 'Lanix/Ilium'
 'samsung browser generic' 'chromium' 'opera 51.0' 'Inco/Minion'
 'samsung browser 7.0' 'Mozilla/Firefox' 'samsung browser 4.2'
 'samsung browser 6.4' 'chrome 65.0' 'chrome 65.0 for android'
 'chrome 65.0 for ios' 'Cherry' 'icedragon' 'android' 'edge 17.0'
 'chrome 66.0' 'chrome 66.0 for android' 'safari 11.0' 'safari 9.0'
 'safari 10.0' 'google' 'chrome 66.0 for ios'
 'google search application 48.0' 'opera 52.0' 'firefox 60.0' 'opera 53.0'
 'samsung browser 3.3' 'google search application 49.0' 'facebook'
 'firefox mobile 61.0' 'chrome 67.0' 'chrome 69.0'
 'chrome 67.0 for android']
--------------------
column: id_33, # unique: 261
['2220x1080' '1334x750' nan '1280x800' '1366x768' '1920x1080' '1680x1050'
 '1136x640' '5120x2880' '2880x1800' '1920x1200' '2560x1600' '2048x1536'
 '1024x768' '1280x720' '2560x1440' '2208x1242' '2001x1125' '1440x900'
 '1600x900' '2672x1440' '1280x1024' '960x540' '2732x2048' '2436x1125'
 '2048x1152' '2960x1440' '1024x600' '855x480' '4096x2304' '2160x1440'
 '2562x1442' '801x480' '2736x1824' '3441x1440' '2880x1620' '3840x2160'
 '1638x922' '1280x768' '1360x768' '1280x960' '3440x1440' '1152x720'
 '1280x1025' '3360x2100' '2304x1296' '1152x864' '3200x1800' '2112x1188'
 '2224x1668' '2400x1350' '2000x1125' '1600x1000' '2560x1080' '1728x972'
 '3000x2000' '1024x640' '3840x2400' '2304x1440' '1280x600' '1400x1050'
 '1600x1200' '3201x1800' '1356x900' '1344x756' '1624x1080' '1536x864'
 '1800x1125' '1920x1281' '2961x1442' '1366x1024' '1344x840' '3360x1890'
 '1536x1152' '1200x675' '1480x720' '2400x1600' '3200x2000' '1281x801'
 '960x640' '1776x1000' '2048x1280' '2049x1152' '1138x640' '2160x1215'
 '2880x1440' '0x0' '2520x1575' '5760x3240' '3843x2163' '1184x720'
 '1440x810' '2076x1080' '1600x837' '1093x615' '1281x721' '1152x648'
 '2392x1440' '2048x1080' '2735x1825' '1680x945' '1805x1015' '5760x1080'
 '2816x1584' '4500x3000' '1684x947' '1440x960' '1364x768' '3072x1728'
 '5040x3150' '7500x5000' '768x576' '1768x992' '1658x946' '1200x720'
 '1239x697' '1188x720' '1232x800' '1920x1280' '1264x924' '1400x900'
 '3240x2160' '2961x1440' '1422x889' '1848x1155' '3360x1050' '3840x1080'
 '2010x1080' '2160x1350' '1440x720' '1280x712' '1512x945' '1296x774'
 '1368x768' '3520x1980' '800x600' '1700x960' '2560x1800' '6400x3600'
 '2368x1440' '1824x1026' '1912x1025' '600x450' '3840x1600' '1760x990'
 '2700x1800' '1371x857' '1776x1080' '2552x1337' '3600x2250' '2560x1700'
 '2816x1760' '1440x800' '1440x803' '1920x1018' '6016x3384' '1280x620'
 '1281x720' '1720x1440' '1408x880' '640x360' '1920x975' '976x600'
 '1062x630' '2800x1575' '6720x3780' '1440x759' '1120x700' '1921x1081'
 '1280x1023' '1279x1023' '1441x901' '1679x1049' '1680x1051' '2220x1081'
 '1920x1079' '1919x1199' '1680x1049' '1365x768' '1919x1079' '1919x1200'
 '1919x1080' '1366x767' '1584x990' '2880x1442' '1281x800' '1229x691'
 '1600x1024' '1600x899' '1536x960' '1502x844' '1920x1201' '1439x809'
 '1408x792' '1279x1024' '1599x900' '1920x1081' '921x691' '3841x2161'
 '1921x1080' '480x320' '1888x941' '2049x1536' '2160x1439' '1707x960'
 '1024x767' '1365x767' '3001x2000' '3839x2160' '1916x901' '3838x2158'
 '1599x899' '3199x1800' '1511x944' '2737x1825' '2736x1823' '2735x1823'
 '2559x1439' '2400x1500' '2882x1442' '1729x973' '1727x971' '1023x767'
 '1918x1080' '1439x900' '4499x2999' '1280x740' '2999x2000' '1024x552'
 '1440x899' '2255x1503' '1025x768' '1280x732' '3839x2159' '3840x2162'
 '3696x2310' '2159x1439' '2256x1504' '1439x899' '2159x1440' '1359x768'
 '1092x614' '2048x1278' '2591x1619' '4200x2625' '2710x1440' '1272x960'
 '1023x768' '3838x2160' '2100x1312' '1360x767' '1024x819' '1502x845'
 '2561x1442' '2559x1440' '2160x1081' '1920x1279' '2160x1080' '1596x710'
 '1496x844' '1280x900']
--------------------
column: id_34, # unique: 5
['match_status:2' 'match_status:1' nan 'match_status:0' 'match_status:-1']
--------------------
column: id_35, # unique: 3
['T' 'F' nan]
--------------------
column: id_36, # unique: 3
['F' nan 'T']
--------------------
column: id_37, # unique: 3
['T' 'F' nan]
--------------------
column: id_38, # unique: 3
['T' nan 'F']
--------------------
column: DeviceType, # unique: 3
['mobile' 'desktop' nan]
--------------------
column: DeviceInfo, # unique: 1787
['SAMSUNG SM-G892A Build/NRD90M' 'iOS Device' 'Windows' ...
 'LDN-LX3 Build/HUAWEILDN-LX3' 'Z955A' 'LG-E975']

## Transaction

In [29]:
tr_df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
print(tr_df.columns)
print(len(tr_df.columns))
print(tr_df.shape)

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)
394
(590540, 394)

In [32]:
tr_df.isna().sum()

TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
card1                  0
card2               8933
card3               1565
card4               1577
card5               4259
card6               1571
addr1              65706
addr2              65706
dist1             352271
dist2             552913
P_emaildomain      94456
R_emaildomain     453249
C1                     0
C2                     0
C3                     0
C4                     0
C5                     0
C6                     0
C7                     0
C8                     0
C9                     0
C10                    0
C11                    0
C12                    0
C13                    0
                   ...
V310                  12
V311                  12
V312                  12
V313                1269
V314                1269
V315                1269
V316                  12
V317                  12
V318                  12
V319                  12
V320                  12
V321                  12
V322              508189
V323              508189
V324              508189
V325              508189
V326              508189
V327              508189
V328              508189
V329              508189
V330              508189
V331              508189
V332              508189
V333              508189
V334              508189
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 394, dtype: int64

In [37]:
tr_df.describe()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
count,5.905400e+05,590540.000000,5.905400e+05,590540.000000,590540.000000,581607.000000,588975.000000,586281.000000,524834.000000,524834.000000,...,82351.000000,82351.000000,82351.000000,82351.000000,82351.000000,82351.00000,82351.000000,82351.000000,82351.000000,82351.000000
mean,3.282270e+06,0.034990,7.372311e+06,135.027176,9898.734658,362.555488,153.194925,199.278897,290.733794,86.800630,...,0.775874,721.741883,1375.783644,1014.622782,9.807015,59.16455,28.530903,55.352422,151.160542,100.700882
std,1.704744e+05,0.183755,4.617224e+06,239.162522,4901.170153,157.793246,11.336444,41.244453,101.741072,2.690623,...,4.727971,6217.223583,11169.275702,7955.735482,243.861391,387.62948,274.576920,668.486833,1095.034387,814.946722
min,2.987000e+06,0.000000,8.640000e+04,0.251000,1000.000000,100.000000,100.000000,100.000000,100.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,3.134635e+06,0.000000,3.027058e+06,43.321000,6019.000000,214.000000,150.000000,166.000000,204.000000,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,3.282270e+06,0.000000,7.306528e+06,68.769000,9678.000000,361.000000,150.000000,226.000000,299.000000,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,3.429904e+06,0.000000,1.124662e+07,125.000000,14184.000000,512.000000,150.000000,226.000000,330.000000,87.000000,...,0.000000,0.000000,25.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
max,3.577539e+06,1.000000,1.581113e+07,31937.391000,18396.000000,600.000000,231.000000,237.000000,540.000000,102.000000,...,55.000000,160000.000000,160000.000000,160000.000000,55125.000000,55125.00000,55125.000000,104060.000000,104060.000000,104060.000000

In [34]:
tr_df.dtypes

TransactionID       int64
isFraud             int64
TransactionDT       int64
TransactionAmt    float64
ProductCD          object
card1               int64
card2             float64
card3             float64
card4              object
card5             float64
card6              object
addr1             float64
addr2             float64
dist1             float64
dist2             float64
P_emaildomain      object
R_emaildomain      object
C1                float64
C2                float64
C3                float64
C4                float64
C5                float64
C6                float64
C7                float64
C8                float64
C9                float64
C10               float64
C11               float64
C12               float64
C13               float64
                   ...
V310              float64
V311              float64
V312              float64
V313              float64
V314              float64
V315              float64
V316              float64
V317              float64
V318              float64
V319              float64
V320              float64
V321              float64
V322              float64
V323              float64
V324              float64
V325              float64
V326              float64
V327              float64
V328              float64
V329              float64
V330              float64
V331              float64
V332              float64
V333              float64
V334              float64
V335              float64
V336              float64
V337              float64
V338              float64
V339              float64
Length: 394, dtype: object

In [38]:
tr_df.loc[:, tr_df.dtypes == np.object].columns

Index(['ProductCD', 'card4', 'card6', 'P_emaildomain', 'R_emaildomain', 'M1',
       'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9'],
      dtype='object')

In [36]:
for column in tr_df.loc[:, tr_df.dtypes == np.object].columns:
    unique = tr_df[column].unique()
    print('--------------------\ncolumn: %s, # unique: %d' % (column, len(unique)))
    print(unique)

--------------------
column: ProductCD, # unique: 5
['W' 'H' 'C' 'S' 'R']
--------------------
column: card4, # unique: 5
['discover' 'mastercard' 'visa' 'american express' nan]
--------------------
column: card6, # unique: 5
['credit' 'debit' nan 'debit or credit' 'charge card']
--------------------
column: P_emaildomain, # unique: 60
[nan 'gmail.com' 'outlook.com' 'yahoo.com' 'mail.com' 'anonymous.com'
 'hotmail.com' 'verizon.net' 'aol.com' 'me.com' 'comcast.net'
 'optonline.net' 'cox.net' 'charter.net' 'rocketmail.com' 'prodigy.net.mx'
 'embarqmail.com' 'icloud.com' 'live.com.mx' 'gmail' 'live.com' 'att.net'
 'juno.com' 'ymail.com' 'sbcglobal.net' 'bellsouth.net' 'msn.com' 'q.com'
 'yahoo.com.mx' 'centurylink.net' 'servicios-ta.com' 'earthlink.net'
 'hotmail.es' 'cfl.rr.com' 'roadrunner.com' 'netzero.net' 'gmx.de'
 'suddenlink.net' 'frontiernet.net' 'windstream.net' 'frontier.com'
 'outlook.es' 'mac.com' 'netzero.com' 'aim.com' 'web.de' 'twc.com'
 'cableone.net' 'yahoo.fr' 'yahoo.de' 'yahoo.es' 'sc.rr.com' 'ptd.net'
 'live.fr' 'yahoo.co.uk' 'hotmail.fr' 'hotmail.de' 'hotmail.co.uk'
 'protonmail.com' 'yahoo.co.jp']
--------------------
column: R_emaildomain, # unique: 61
[nan 'gmail.com' 'hotmail.com' 'outlook.com' 'anonymous.com' 'charter.net'
 'prodigy.net.mx' 'comcast.net' 'live.com.mx' 'icloud.com' 'yahoo.com'
 'aol.com' 'juno.com' 'att.net' 'verizon.net' 'yahoo.com.mx'
 'bellsouth.net' 'servicios-ta.com' 'ymail.com' 'hotmail.es' 'msn.com'
 'optonline.net' 'live.com' 'gmx.de' 'aim.com' 'mail.com' 'me.com'
 'outlook.es' 'cox.net' 'earthlink.net' 'embarqmail.com' 'web.de'
 'sbcglobal.net' 'scranton.edu' 'mac.com' 'twc.com' 'roadrunner.com'
 'yahoo.fr' 'yahoo.de' 'yahoo.es' 'frontiernet.net' 'gmail' 'live.fr'
 'q.com' 'yahoo.co.uk' 'windstream.net' 'suddenlink.net' 'hotmail.fr'
 'ptd.net' 'hotmail.de' 'frontier.com' 'cfl.rr.com' 'hotmail.co.uk'
 'netzero.com' 'netzero.net' 'yahoo.co.jp' 'rocketmail.com'
 'centurylink.net' 'protonmail.com' 'cableone.net' 'sc.rr.com']
--------------------
column: M1, # unique: 3
['T' nan 'F']
--------------------
column: M2, # unique: 3
['T' nan 'F']
--------------------
column: M3, # unique: 3
['T' nan 'F']
--------------------
column: M4, # unique: 4
['M2' 'M0' nan 'M1']
--------------------
column: M5, # unique: 3
['F' 'T' nan]
--------------------
column: M6, # unique: 3
['T' 'F' nan]
--------------------
column: M7, # unique: 3
[nan 'F' 'T']
--------------------
column: M8, # unique: 3
[nan 'F' 'T']
--------------------
column: M9, # unique: 3
[nan 'F' 'T']